{% extends 'mainapp/catalog.html' %}

{% load static %}

{% block menu %}

    {% include "mainapp/widgets/menu.html" %}

{% endblock %}

{% block content %}
    <div class="conteiner">

        <h1>Категории товаров</h1>
        {% include "mainapp/widgets/menu_cataloga.html" %}
        <ul class="link_menu">
            {% if provider.has_previous %}
                <li class="menu">
                    <a href="{% url 'catalog:page' page=provider.previous_page_number %}">Prev</a>
                </li>
            {% endif %}
            <li class="menu">
                <p>page {{ provider.number }} of {{ provider.paginator.num_pages }}</p>
            </li>
            {% if provider.has_next %}
                <li class="menu">
                    <a href="{% url 'catalog:page' page=provider.next_page_number %}">Next</a>
                </li>
            {% endif %}
        </ul>
        <ul class="link_menu">
            {% for products in provider %}
                <div class="product-box padding-site">
                    <a href="{% url 'catalog:details' pk=products.id %}">
                        <div class="linia">
                            <img src="{{ MEDIA_URL }}{{ products.image }}" width="200" height="200"
                                 alt="{{ products.short_desc }}">
                            <div class="noname">
                                <h3 class="nona">{{ products.productcategory.name }}</h3>
                                <p class="non">{{ products.name }}</p>
                                <p class="non">{{ products.description }}</p>
                                <p class="non">Стоит {{ products.price }}</p>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </ul>
    </div>
{% endblock %}


