{% extends 'mainapp/goods1.html' %}

{% load static %}

{% block menu %}

{% include "mainapp/widgets/menu.html" %}

{% endblock %}


{% block content %}

<div class="conteiner">

        <h1>Медицинский цветной монитор Sony LMD-2110MD</h1>
        <h2 class="zagolovki">Описание товара</h2>
        <div class="od">
            <a href="{% static 'Images/пробник.jpg' %}" target="_blank"> <img class="img1" src="{% static 'Images/пробник.jpg' %}"></a>
            <p class="cratkoe">Медицинский цветной монитор Sony LMD-2110MD&nbsp;&mdash; это новая модель оборудования, которая может служить как в&nbsp;качестве вспомогательного монитора в&nbsp;кабинете, так и&nbsp;полноценным профессиональным вариантом бюджетного оборудования.</p>
        </div>

        <h2 class="zagolovki">Характеристика товара</h2>
        <table>
            <tr>
                <td rowspan="2">Тип: ЖК дисплей с активной матрицей a-Si TFT <br> Разрешение: 1920 x 1080 пикселей (Full HD)</td>
                <td>Угол обзора (спецификация ЖК-панели): 170°/160° (типовое значение) (по горизонтали/вертикали, контрастность >10:1)</td>
                <td>Эффективный размер изображения (В х Ш) (по диагонали): 477 x 268 мм, 547 мм</td>
            </tr>
            <tr>
                <td colspan="2">Количество цветов: Приблизительно 16,7 миллионов цветов</td>
            </tr>
        </table>
        <ol>
            <li class="menu-two">Монитор имеет стандартные размеры: 515,3мм.</li>
            <li class="menu-two">Вес оборудования сподставкой 8,6кг.</li>
            <li class="menu-two">Отдельный вес монитора 6,9кг.</li>
            <li class="menu-two">Производитель: SONY.</li>
            <li class="menu-two">Оборудование реализуется сбазовой комплектацией.</li>
            <li class="menu-two">В составе присутствует кабель, руководство, монитор, фиксатор, СД-РОМ.</li>
        </ol>
        <h2 class="zagolovki">Подробное описание товара</h2>
        <p class="podrobnoe">Оснащен матрицей a-Si TFT с&nbsp;покрытием АР.<br> Разрешение&nbsp;&mdash; 1920&nbsp;на 1080, при этом размер картинки 477&times;280.<br> Вход сигнала цифровой: HD, S-Videos, компонентный.<br> Присутствует композитный видеосигнал и&nbsp;коннектор внешнего сигнала (для 1x&nbsp;BNC).<br> Контрастность&nbsp;10:1, угол обзора по&nbsp;вертикали 160&nbsp;градусов, по&nbsp;горизонтали&nbsp;&mdash; 180.<br> Стереогнездо размером 3, 5&nbsp;мм.<br> D-Sub 9&nbsp;пин для BKM-341HS (HD/SD-SDI).<br> Есть разъемы для дистанционного управления, встроенный громкоговоритель, а&nbsp;также параллельный порт.</p>
        <h2 class="zagolovki">Преимущества монитора Sony LMD-2110MD</h2>
        <p class="podrobnoe">Есть возможность выбрать предустановки гамма.<br> Вариативность интерфейсов, видео и&nbsp;звукового сигналов.<br> Наличие опционального адаптера под разные типы входов.<br> Большой выбор вариантов отражения экрана.<br> Наличие международных сертификатов качества&nbsp;&mdash; EN&nbsp;60601-1, CSA C22.2 No.601-1, UL&nbsp;60601-1.</p>
      <a class="buy" href="{% url 'contakt' %}">Купить</a>
        <hr></div>

{% endblock %}