* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    background-color: #fff5dd;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 65%;
    margin: 0 auto;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
    width: 100%;
    height: 20px;
}

header {
    display: block;
}

a {
    text-decoration: none;
    color: red;
}

a:hover {
    color: violet;
}

.spiski {
    list-style-type: none;
    padding-top: 50px;
    display: flex;
}

.menu {
    font-size: 15px;
    font-style: oblique;
    padding: 10px;
    justify-content: flex-end;
    text-align: center;
    width: 100%;
}

.menu-two {
    color: green;
    font-size: 17px;
    font-style: oblique;
}

.cratkoe {
    color: darkred;
    font-size: 16px;
    font-style: italic;
    line-height: 16px;
    padding-left: 10px;
}

.od {
    display: flex;
}

.zagolovki {
    color: black;
    font-size: 18px;
    font-weight: 400;
    background-color: ivory;
    width: auto;
    height: auto;
}

.podrobnoe {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.text {
    width: 300px;
    height: 150px;
    color: brown;
    font-size: 13px;
    background: lemonchiffon;
    text-transform: capitalize;
}

.text:focus {
    color: aqua;
    background: brown;
}

.cupre {
    color: brown;
    background: lemonchiffon;
    text-transform: capitalize;
    height: 20px;
}

.cupre:focus {
    color: aqua;
    background: brown;
}

.img1 {
    border-radius: 100px;
    border: 3px solid red;
    box-shadow: 0 0 7px #666;
}

.img1:hover {
    border: 3px solid white;
}

table {
    width: 00px;
    height: 300px;
    border: 1px solid black;
    border-collapse: collapse;
    background: pink;
}

td {
    border: 1px solid;
    padding-bottom: 12px;
}

p:first-letter {
    text-transform: capitalize;
    color: red;
    height: 3px;
}

button {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #212121;
    letter-spacing: 3.6px;
    text-decoration: none;
    height: 25px;
    line-height: 25px;
    width: 150px;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 20px;
    background-color: #ffffff;
    display: inline-block;
}

button:hover {
    box-shadow: 0 1px 2px 1px rgba(33, 33, 33, 0.35);
    background-color: gainsboro;
}

.headerr {
    border-bottom: 1px solid;
    height: 250px;
    display: flex;
    justify-content: space-between;
}

.buy {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #212121;
    letter-spacing: 3.6px;
    text-decoration: none;
    height: 25px;
    line-height: 25px;
    width: 150px;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 20px;
    background-color: #ffffff;
}

.buy:hover {
    box-shadow: 0 1px 2px 1px rgba(33, 33, 33, 0.35);
    background-color: gainsboro;
}

.link_menu {
    display: flex;
    list-style-type: none;
    color: red;
    font-family: monospace;
    justify-content: space-around;
}


.product-box {
    padding-top: 50px;
    padding-bottom: 120px;
    display: flex;
}

.linia {
    width: 200px;
    height: 200px;
    position: relative;
}


.linia:hover .noname {
    display: flex;
}


.noname {
    border: 1px solid #9c9c9c;
    background-color: #ffffff;
    opacity: 0.9;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 32px;
    box-sizing: border-box;
}


.nonam {
    display: flex;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 24px;
    background-color: #ffffff;
    width: 48px;
    height: 48px;
    text-align: center;
    justify-content: center;
}


.nona {
    color: #212121;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 700;
    line-height: 29.88px;
}


.non {
    color: #6c6c6c;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 21.91px;
    justify-content: center;
}

.sd {
    padding: 12px;
}
